/* Body */
.bg-electric-purple {
    background-color: #AF2FEB;
}

/* Texts */
.section-404 {
    font-family: 'Roboto', sans-serif;
}

.title-404 {
    font-size: 64px;
}

.title-not-found {
    font-size: 32px;
}

.text-russian-violet {
    color: #2A0042;
}


/* Button */
.btn-indigo {
    background-color: #3A005C;
}

.btn-rounded {
    border-radius: 24px;
}

.text-pale-purple {
    color: #FCECFA;
}


@media (min-width: 992px){
    .title-404 {
        font-size: 96px;
    }
    
    .title-not-found {
        font-size: 80px;
    }
    
    .btn-to-home:hover {
        background-color: #FCECFA;
        color: #3A005C;
    }

    .img-404 {
        height: 400px;
    }
}