.footer {
    height: 112px;
    padding: 1.5rem;
}

.bg-indigo {
    background-color: #3A005C;
}

.text-pale-purple {
    color: #FCECFA;
}

.footer-copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}

@media (min-width: 768px) { 
    .fab {
        font-size: 2rem;
    }

    .footer-copyright {
        font-size: 1rem;
    }
}
