.footer {
    height: 96px;
    padding: 1rem;
}

.bg-indigo {
    background-color: #3A005C;
}

.text-pale-purple {
    color: #FCECFA;
}

.fab {
    font-size: 24px;
}

.footer-copyright {
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
}