.museum-description,
.activities, 
.information {
    height: auto;
}

/* Museum description 
---------------------------------------------------------------------------*/
.title-museum {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem; 
}

.text-museum {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.text-russian-violet {
    color: #32074b;
}

.img-museum {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

/* Activities 
----------------------------------------------------------------------------*/
.activities {
    background-color: #b41ce2;
}

.title-activities {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: #FFF;
}

.subtitle-activities {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #FFF;
    border-bottom: 0.5px solid #f0efeb;
    padding-bottom: 5px;
}

.text-activities {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #FFF;
}

.img-expo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

/* Information 
------------------------------------------------------------------------*/
.information {
    background-color: #FFF;
}

.title-information {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
}

.information-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.title-arrive {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
}

.text-arrive {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

iframe {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




@media (min-width: 768px) { 
    /* sections */
    .hero-museum {
        height: 88px;
        margin-bottom: 100px;
    }

    .hero-search {
        width: 40%;
        position: absolute;
        top: 90px;
        left: 450px;
    }

    /* titles */
    .title-museum,
    .title-activities, 
    .title-information,
    .title-arrive {
        font-size: 1.7rem;
    }

    .title-activities {
        margin-bottom: 65px;
    }

    .subtitle-activities {
        font-size: 1.3rem;
        border-bottom: none;
    }

    .text-museum,
    .text-activities,
    .information-item {
        font-size: 1rem;
    }

    .information-item {
        margin-bottom: 3rem;
    }

    .text-arrive {
        display: none;
    }

    iframe {
        width: 600px;
    }
}