/* Body 
----------------------------------------------------------------------------*/
.bg-electric-purple {
    background-color: #AF2FEB;
}

/* Texts
----------------------------------------------------------------------------*/
.section-404 {
    font-family: 'Montserrat', sans-serif;
}

.title-404 {
    font-size: 4rem;
}

.title-not-found {
    font-size: 2rem;
}

.text-description-404 {
    font-size: 2rem;
}

.text-russian-violet {
    color: #2A0042;
}

/* Button 
----------------------------------------------------------------------------*/
.btn-indigo {
    background-color: #3A005C;
}

.btn-width {
    width: 200px;
}

.btn-rounded {
    border-radius: 24px;
}

.text-pale-purple {
    color: #FCECFA;
}

.link404 {
    text-decoration: none;
}

/* Media queries
----------------------------------------------------------------------------*/
@media (min-width: 768px){
    .title-404 {
        font-size: 5rem;
    }
    
    .title-not-found {
        font-size: 3rem;
    }

    .text-description-404 {
        font-size: 2.7rem;
    }

    .btn-width {
        width: 240px;
    }
}    

@media (min-width: 992px){

    .title-404 {
        font-size: 6rem;
    }
    
    .title-not-found {
        font-size: 5rem;
    }
    
    .btn-width {
        width: 260px;
    }

    .btn-hover:hover {
        background-color: #FCECFA;
        color: #3A005C;
    }

    .img-404 {
        height: 400px;
    }
}