.container-activity {
	padding: 3em 1em 3em 1em;
}


.img-activity {
	height: 250px;
	width: 250px;
}



.titleActivity {
	margin: 0px 0px 0px 0px;
	color: #6610f2;
	font-size: 1rem;
	font-weight: bold;
}

.museumNameText {
	margin: 0% 0% 3% 0%;
	color: #A846FA;
	font-size: 0.9rem;
}

.iconLocation {
	float: left;
	width: 5%;
}


.location {
	float: left;
	color: #FA6767;
	font-size: 0.7rem;
}


.btn-accessMuseum {
	background-color: #962BEF;
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin-top: 6%;
	float: right;
	color: white;
	font-weight: bold;
	font-size: 0.9rem;
}

@media (min-width: 768px) { 
	.img-activity {
		height: 450px;
		width: 450px;
	}
}