body {
	background-color: rgb(168, 17, 182);
}

/* .navbar-nav{
	margin-left: 39em;
}
 */
.container-activity {
	padding: .5em 3em 3em 3em;
}

.title-page-activity {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
	color: #FFF;
}

.container-list {
	margin: 3em 1em 3em 1em;
}

.list-group-item {
	margin: 3em;
}

.img-activity {
	height: 250px;
	width: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}

.titleActivity {
	font-family: 'Montserrat', sans-serif;
	color: #6610f2;
	font-size: 1rem;
	font-weight: bold;
}

.museumNameText {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9rem;
}

.iconLocation {
	float: left;
	width: 6%;
	margin-right: .3em;
}


.containerText {
	padding: .5em 2em 3em 2em;
}

.location {
	float: left;
	color: #FA6767;
	font-size: 0.7rem;
}

.btn-accessMuseum {
	background-color: #962BEF;
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin-top: 6%;
	float: right;
	color: white;
	font-weight: bold;
	font-size: 0.9rem;
}

@media (min-width: 768px) { 
	.img-activity {
		height: 500px;
		width: 500px;
	}

	.container-list {
		margin: 3em 4em 3em 4em;
	}

	.containerText {
		padding: .5em 3em 3em 3em;
	}

	.title-page-activity {
		font-size: 2rem;
	}
	
	.titleActivity {
		font-size: 1.3rem;
	}

	.museumNameText {
		font-size: 1rem;
	}

	.location {
		font-size: 1rem;
	}
}

@media (min-width: 992px) { 
	.title-page-activity {
		font-size: 2rem;
	}
	
	.titleActivity {
		font-size: 1.7rem;
	}

	.museumNameText {
		font-size: 1.5rem;
	}

	.location {
		font-size: 1.4rem;
	}

	.iconLocation {
		height: 30px;
	}

	.img-activity {
		margin-left: 0;
	}

	.container-list {
		width: 80%;
	}
}