.container-card {
    padding: 3em 1em 3em 1em;
}

.card1 {
    background-color: #FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-bottom: 3em;
}

.card-body{
    height: 11.5em;
}

.card-header {
    background-color: #AF2FEB;
    color: #FFF;
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    padding-bottom: 2em;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #2e0048;
}

@media only screen and (min-width: 768px) {
    .container-card {
        padding: 4em 5em 3em 5em;
    }

    .card-header {
        height: 60px;
        font-size: 24px;
    }
    
    .card-title {
        font-size: 30px;
    }
    
    .card-text {
        font-size: 24px;
    }

}

@media only screen and (min-width: 992px) {
    .container-card {    
        padding: 6em 4em 3em 4em;
    }

    .card-header {
        height: 50px;
        font-size: 24px;
    }
    
    .card-title {
        font-size: 24px;
    }
    
    .card-text {
        font-size: 20px;
    }
    
}