.footer {
    height: 70px;
    bottom: 0;
    margin-top: 1em;
}

.bg-light-gray {
    background-color: #f0efeb;
}

.text-dark-violet {
    color: #161216;
}

.footer-copyright {
    font-family: 'Montserrat', sans-serif;
    font-size: .5rem;
    font-style: normal;
}

@media only screen and (min-width: 768px) { 
    .footer {
        padding-top: 40px;
    }
    .footer-copyright {
        font-size: 1rem;
    }

    .fab {
        font-size: 1.3rem;
    }

    .footer {
        height: 90px;
    }
}

@media only screen and (min-width: 992px) {
    .footer-copyright {
        font-size: 1.5em;
    }

    .fab {
        font-size: 1.5rem;
    }

    .footer {
        height: 100px;
    }
}