
.hero-search {
  
  background: url("../assets/hero_desktop.png");
  background-attachment: fixed;
  background-size: cover;
  background-width: auto;
  background-height: auto;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  padding-top:5em;
  padding-bottom:9em;
  margin:0em;
  
/*   height: ding: 10450px; */
  align-items: center;
}
.hero-search .holder {
  width: 80%;
  height: 20%;
  margin:0em;
  text-align: center;
}

.hero-search .holder h1{
	font-family: "Russo One", "Serif";
}
.hero-search .holder p{
	font-family: "Roboto", "Serif";
}
.hero-search .search {

  font-size: 0.9em;
}
.hero-search .input-group {
  
  border-radius: 0.5em;
  margin-top:2.5em;
  width: 75%;
}
.search{
	border-radius: 0.5em 0em 0em 0.5em;
	box-shadow: 0.024em 0.2em 0.2em 0 #444444;
}
#button-addon2{
  width:2.5em;
  height:2.25em;
  border-radius: 0em 0.5em 0.5em 0em;
  box-shadow: 0.2em 0.2em 0.2em 0 #444444;
}

@media only screen and (max-width:640px){
  .hero-search{
    
    background: white;
  }
  .hero-search .holder h1{
	padding-top: 1.35rem;
	padding-bottom: 1rem;
    color: #2A0042;
    font-size:2em;
  }
  .hero-search .holder p{
	padding-top: 1rem;
	padding-bottom: 1rem;
    color: #2E0048;
    font-size:1em;
    opacity:0.8;
  }

  .input-group{
    margin:0.3em;
    padding:0.4em;
  }
}

@media only screen and (min-width: 640px){
  .presentacion{
    display:none;
  }
  .input-group{
    margin:0.3em;
    padding:0.4em;
    position: absolute;
    top: 9.5rem;
    
  }
} 
