.navbar-toggler {
	border: none;
}

.navbar-toggler:focus {
	outline: none;
}

.navbar-brand {
	font-family: 'Montserrat', sans-serif;
}

.nav-link {
	font-family: 'Montserrat', sans-serif;
	color: #3A0056;
	text-transform: uppercase;
}


@media (min-width: 992px){
	.navbar {
		padding: .2em 4em .2em 4em;
	}
	
	

	.nav-item {
		margin: 1em;
	}

	.nav-link {
		font-size: 1.3em;
	}

	.nav-link:hover {
		background-color: #AF2FEB; /* no toma color de fuente */
		cursor: pointer;
	}
}
