.navbar-toggler {
	border: none;
}



.navbar-toggler:focus {
	outline: none;
}

.navbar-brand {
	font-family: 'Montserrat', sans-serif;
}

.nav-link {
	font-family: 'Montserrat', sans-serif;
	color: #3A0056;
	text-transform: uppercase;
}


@media (min-width: 992px){
	.navbar {
		padding: .2em 4em .2em 4em;
	}

	.navbar-nav{
		margin-left:12em;
	}
	
	.nav-item {
		margin: 1em;
	}

	.nav-link {
		font-size: 1.3em;
	}

	.nav-link:hover {
		color: #300f3f; /* no toma color de fuente */
		cursor: pointer;
	}
}

@media only screen and (min-width: 1024px){

	.navbar-nav{
		margin-left:13em;
	}

}


@media only screen and (min-width: 1200px){

	.navbar-nav{
		margin-left:21em;
	}

}

@media only screen and (min-width: 1300px){

	.navbar-nav{
		margin-left:25em;
	}

}

@media only screen and (min-width: 1350px){

	.navbar-nav{
		margin-left:27.5em;
	}

}

@media only screen and (min-width: 1400px){

	.navbar-nav{
		margin-left:30em;
	}

}

@media only screen and (min-width: 1450px){

	.navbar-nav{
		margin-left:30em;
	}

}

@media only screen and (min-width: 1700px){

	.navbar-nav{
		margin-left:36em;
	}

}

@media only screen and (min-width: 1900px){

	.navbar-nav{
		margin-left:39em;
	}

}