		.navbar{
			padding: 0px 0px 0px 0px!important;
		}
		.navbar-expand-lg .navbar-collapse{
		 padding: .5em .2em!important;
			}
		.bg-light{
		background-color: white!important;
		padding: 0em 0em!important;
			}

		.navbar-light .navbar-toggler-icon {
	    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2858, 0, 86, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")

	     }
	     @media (min-width: 992px){
	     	.navbar-expand-lg .navbar-collapse{
			background-color: #3A0056!important;
			
			}
			.navbar-light .navbar-nav .nav-link {
			    color: white!important;
			}
		}