.bg-indigo {
    background-color: #3A005C;
}

.container {
    margin-top: 12rem;
}

.title-preloader {
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: bolder;
}

.text-pale-purple {
    color: #f0efeb;
}

.img-logo {
    height: 200px;
}


@media (min-width: 768px){
    .container {
        margin-top: 20rem;
    }
}

@media (min-width: 768px){
    .container {
        margin-top: 10rem;
    }
}