.footer {
    height: 112px;
    bottom: 0;
}

.bg-light-gray {
    background-color: #f0efeb;
}

.text-dark-violet {
    color: #161216;
}

.footer-copyright {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-style: normal;
}

@media (min-width: 768px) { 
    .footer-copyright {
        font-size: 1.5rem;
    }

    .fab {
        font-size: 1.7rem;
    }

    .footer {
        height: 120px;
    }
}
