.hero-search {  
  background: url("/public/assets/hero_desktop.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: teal;
  display: flex;
  justify-content: center; 
  height: 250px;
  width: 100%;
  margin: 0;
  padding-top: 3em;
  padding-bottom: 2em;
}

.hero-search h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 1.4em; 
  color: #FFF;
}

.hero-search .input-group {
  border-radius: 0.5em;
  width: 70%;
}

.search{
  font-size: 0.9em;
	border-radius: 0.5em 0em 0em 0.5em;
	box-shadow: 0.024em 0.2em 0.2em 0 #444444;
}

#button-addon2{
  width:2.5em;
  height:2.25em;
  border-radius: 0em 0.5em 0.5em 0em;
  box-shadow: 0.2em 0.2em 0.2em 0 #444444;
}


@media only screen and (min-width: 768px) {
  .hero-search {
    height: 330px;
  }

  .hero-search h1 {
    font-size: 2em;
    margin-top: 2.5rem;
  }

  .hero-search .input-group {
    width: 60%;
  }

  .search {
    height: 40px;
  }

  #button-addon2{
    width: 2.7em;
    height: 2.5em;
  }

}

@media only screen and (min-width: 992px) {
    .hero-search {
      height: 500px;
      padding-left: 400px;
      padding-right: 400px; 
    }

    .hero-search h1 {
      font-size: 4em;
      font-weight: bolder;
      margin-top: 4rem;
    }

    .search {
      height: 50px;
    }
  
    #button-addon2{
      width: 3em;
      height: 3.2em;
    }
}
© 2020 GitHub